@model List<BooksEntity> 

@{
    ViewData["Title"] = "Admin Page";
}
@section Navbar {
        <nav class="navbar navbar-light bg-white border-bottom box-shadow mb-3 justify-content-between">
            <div class="container-fluid" >
                <a asp-action="Users" asp-controller="Admin" class="btn btn-secondary ms-auto">Users</a>
            </div>
            <div class="container-fluid" >
                <a asp-action="Logout" asp-controller="Authentication" class="btn btn-secondary ms-auto bi bi-person">Logout</a>
            </div>
        </nav>
}
<h1>Books</h1>
<br>
<div class="row">
    <div class="col-md-12">
        <a asp-action="Create" asp-controller="Books" class="btn btn-success">Create</a>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var book in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img
                        src="@book.ImageUrl"
                        class="img-thumbnail w-100 h-100"
                        style="object-fit: cover"
                        alt="Blog Image">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">@book.Title</h5>
                            <p class="card-text">@book.Author</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group" role="group" aria-label="First group">
                                <a type="button" class="btn btn-secondary" asp-action="Logout" asp-controller="Authentication">View</a>
                            </div>
                            <div class="btn-group" role="group" aria-label="Second group">
                                <a type="button" class="btn btn-secondary" asp-action="Logout" asp-controller="Authentication">Edit</a>
                            </div>
                            <div class="btn-group" role="group" aria-label="Third group">
                                <a type="button" class="btn btn-secondary" asp-action="Delete" asp-controller="Books" asp-route-id="@book.Id">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    }

</div>


